<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iris Classifier</title>
  </head>
  <body>
    <center>
      <form method="POST" action="{{url_for('predict')}}">
        <input type="text" placeholder="petal_width" name="pw" />
        <br />
        <input type="text" placeholder="petal_length" name="pl" />
        <br />
        <input type="text" placeholder="sepal_length" name="sl" />
        <br />
        <input type="text" placeholder="sepal_width" name="sw" />
        <br />
        <button type="submit" placeholder="predict">predict</button>
      </form>
      <br />
      <br />
      {{prediction_text}}
    </center>
  </body>
</html>
